<p-fluid>
  <form [formGroup]="documentQuickUploadForm" errorTailor>
    <div class="grid pl-0">
      <div class="col-7 grid mt-2">
        <div class="col-6">
          <p-floatlabel variant="on" controlErrorAnchor>
            <input
              id="dm_document_quick_upload_form_documentName"
              pInputText
              maxlength="60"
              type="text"
              formControlName="documentName"
              (blur)="trimSpace($event)"
              (keypress)="preventSpace($event)"
            />
            <label for="dm_document_quick_upload_form_documentName" class="required">{{
              'DOCUMENT_QUICK_UPLOAD.BASIC_FIELDS.DOCUMENT_NAME' | translate
            }}</label>
          </p-floatlabel>
        </div>
        <div class="col-6">
          <p-floatlabel variant="on" controlErrorAnchor>
            <p-select
              id="dm_document_quick_upload_form_typeId"
              [options]="documentTypes"
              appendTo="body"
              [autoDisplayFirst]="false"
              [showClear]="true"
              formControlName="typeId"
            ></p-select>
            <label for="dm_document_quick_upload_form_typeId" class="required">{{
              'DOCUMENT_QUICK_UPLOAD.BASIC_FIELDS.DOCUMENT_TYPE' | translate
            }}</label>
          </p-floatlabel>
        </div>
        <div class="col-6 mt-2">
          <p-floatlabel variant="on" controlErrorAnchor>
            <input
              id="dm_document_quick_upload_form_channel"
              pInputText
              maxlength="60"
              type="text"
              formControlName="channelname"
              (blur)="trimSpace($event)"
              (keypress)="preventSpace($event)"
              (paste)="trimSpaceOnPaste($event, 'channelname', 60)"
            />
            <label for="dm_document_quick_upload_form_channel" class="required">{{
              'DOCUMENT_QUICK_UPLOAD.BASIC_FIELDS.DOCUMENT_CHANNEL' | translate
            }}</label>
          </p-floatlabel>
        </div>
        <div class="col-6 mt-2">
          <p-floatlabel variant="on" controlErrorAnchor>
            <p-select
              id="dm_document_quick_upload_form_status"
              [options]="documentStatus"
              appendTo="body"
              [autoDisplayFirst]="false"
              [showClear]="true"
              formControlName="lifeCycleState"
            ></p-select>
            <label for="dm_document_quick_upload_form_status">{{
              'DOCUMENT_QUICK_UPLOAD.BASIC_FIELDS.DOCUMENT_STATUS' | translate
            }}</label>
          </p-floatlabel>
        </div>
      </div>
      <div class="col-5 mt-3 pr-3">
        <app-file-upload
          [multiple]="true"
          [disabled]="isSubmitted"
          (filesSelected)="onFilesSelected($event)"
        ></app-file-upload>
        <div class="text-sm text-color-secondary mt-1">
          {{ 'DOCUMENT_QUICK_UPLOAD.ATTACHMENTS.ALLOWED_FILETYPE_MESSAGE' | translate }}
          ({{ 'DOCUMENT_QUICK_UPLOAD.ATTACHMENTS.ALLOWED_FILESIZE_MESSAGE' | translate }})
        </div>
      </div>
    </div>
  </form>
</p-fluid>
