<ocx-portal-page *ngrxLet="viewModel$; let vm">
  <ocx-page-header
    [header]="'DOCUMENT_CREATE.HEADER' | translate"
    [disableDefaultActions]="true"
    [manualBreadcrumbs]="true"
  ></ocx-page-header>

  <ocx-content>
    <div class="document-create-shell p-3 mt-2">
      <p-steps [model]="stepsModel" [activeIndex]="vm.activeStep"> </p-steps>

      @if (!vm.referenceDataLoading) {
        @switch (vm.activeStep) {
          @case (steps.Details) {
            <app-document-create-details-form
              [details]="vm.details"
              [availableTypes]="(documentTypes$ | async) || []"
              (next)="onDetailsNext(vm, $event)"
            ></app-document-create-details-form>
          }

          @case (steps.Attachments) {
            <app-document-create-attachments
              [attachments]="vm.attachments"
              [supportedMimeTypes]="(mimeTypes$ | async) || []"
              (back)="onAttachmentsBack(vm, $event)"
              (next)="onAttachmentsNext(vm, $event)"
              (attachmentMimeTypeNotSupported)="onAttachmentMimeTypeNotSupported($event)"
            ></app-document-create-attachments>
          }

          @case (steps.Characteristics) {
            <app-document-create-characteristics
              [characteristics]="vm.characteristics"
              (back)="onCharacteristicsBack(vm)"
              (save)="onCharacteristicsSave($event)"
            ></app-document-create-characteristics>
          }
        }
      }
    </div>
  </ocx-content>
</ocx-portal-page>
